<table class="table table-striped">
  <thead>
  <th>
    Name  
  </th>
  <th>
    Price
  </th>
  <th>
    1h%
  </th>
  <th>
    24h%
  </th>
  <th>
    7d%
  </th>
  <th>
    Market Cap
  </th>
  <th>
   Volume(24h)
  </th>
  <th>
    Circulating Supply
  </th>
</thead>
<tbody>
 
  <tr  *ngFor="let item of scrapper_data;">
    <td>
      {{item.name}}
    </td>
    <td>
      {{item.price}}
    </td>
    <td>
      {{item.one_h}}
    </td>
    <td>
      {{item.twenty_four_h}}
    </td>
    <td>
      {{item.seven_d}}
    </td>
    <td>
      {{item.market_cap}}
    </td>
    <td>
      {{item.volume}}
    </td> 
    <td>
      {{item.circulating_supply}}
    </td>
  </tr>
</tbody>
</table>
